@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body * {
  font-family: "Poppins";
}

#login input::placeholder {
  font-weight: 300;
  font-size: 12px;
  color: black;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

#searchbar>input::placeholder{
  font-size: 1.25rem;
  color: #c4c4c4;
}